:root {
  --body-bg: #131b20;

  --color__default: #f0f0f0;
  --color__muted: #888888;

  --shadow: #101419;
  --highlight: #262f36;

  --dimensions: 10rem;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf");
  font-size: 1rem;
  font-weight: 100 900;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
}

html {
  background-color: var(--body-bg);

  color: var(--color__default);
  font-weight: 500;
}

body {
  display: grid;
  place-content: center;

  min-height: 100vh;
}

.neumorphism {
  position: relative;

  width: var(--dimensions);
  height: var(--dimensions);

  border-radius: 50%;
  background-color: var(--body-bg);

  box-shadow: 5px 5px 12px var(--shadow), -5px -5px 12px var(--highlight);

  & .waves {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;

    border: none;
    border-radius: 50%;

    filter: blur(2px);

    box-shadow: 5px 5px 12px var(--shadow), -5px -5px 12px var(--highlight),
      inset 5px 5px 12px var(--shadow), -5px -5px 12px var(--highlight);

    &:first-of-type {
      -webkit-animation: waves 4s linear infinite;
      animation: waves 4s linear infinite;
    }
    &:last-of-type {
      -webkit-animation: waves 4s linear 2s infinite;
      animation: waves 4s linear 2s infinite;
    }
  }
}

@-webkit-keyframes waves {
  0% {
    scale: 1;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    scale: 2;
    opacity: 0;
  }
}
@keyframes waves {
  0% {
    scale: 1;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    scale: 2;
    opacity: 0;
  }
}
